$blue = #4D9BED
$blue_hover = #4391E1
$green = #56CEB4
$green_hover = #49B79F
$background_color = #F3F7FB
$tabel_background_color = #FAFCFE
$tabel_header_color = #E3ECF4
$tab_background_color = #EFF5FC
$input_background_color = #E0E4EC
$line_color = #E0E4EC
$asaid_menu_color = #444C63
$asaid_menu_hover = #333D5A
$deep_title_color = #444C63
$gray_title_color = #8891AC
$light_title_color = #CCCED6
$big_title_font_size = 16px
$title_font_size = 14px
$content_font_size = 12px
$max_width = 1240px
$max_height = 878px

ellipsis()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
